<form method="post">
  <input type="hidden" name="token" value="{{token}}" />
  {{#errors}}<ul class="error">{{/errors}}
  {{#errors}}<li>{{error}}</li>{{/errors}}
  {{#errors}}</ul>{{/errors}}
  <dl>
    <dt>Username</dt>
    <dd><input type="text" maxlength="20" name="username" value="{{username}}" /></dd>
    <dt>Password</dt>
    <dd><input type="password" maxlength="30" name="password" /></dd>
  </dl>
  <div><input type="submit" value="Login as admin" /></div>
</form>
