<form method="post">
  <input type="hidden" name="token" value="{{token}}" />
  {{#errors}}
  {{#first}}<ul class="error">{{/first}}
    <li>{{error}}</li>
  {{#last}}</ul>{{/last}}
  {{/errors}}
  <dl>
    <dt>Username</dt>
    <dd><input type="text" maxlength="20" name="username" value="{{username}}" /></dd>
    <dt>Password</dt>
    <dd><input type="password" maxlength="30" name="password" /></dd>
  </dl>
  <div><input type="submit" value="Login as admin" /></div>
</form>
